.hero{
    background-color: #5C8984;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width:  375px;
}

.calculator{
    display: flex;
    flex-wrap: wrap;
    background-color: #374259;
    height: 425px;
    width: 325px;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.display{
    background-color: #545B77;
    height: 75px;
    width:  100%;
    border-radius: 20px;
}

.numbers{
    margin-top: 20px;
    height: 263px;
    width: 250px;
    display: grid;
    grid-template-columns: 58px 58px 58px 58px;
    padding: 3px;
    gap: 6px;

}

.number-operation{
    user-select: none;
    background-color: #545B77;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    font-size: 1.25rem;
    border-radius: 10px;
    color: #F2D8D8;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.number-operation:hover{
    background-color: #636b8b;
}

.number-operation:nth-child(16){
    grid-column-start:1;
    grid-column-end: 3;
}

.number-operation:nth-child(18){
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
}



